<nav>
  <div class="left-container">
    <div (click)="redirectToHome()" class="f1-logo"></div>
    <h1 (click)="redirectToHome()">BINGO</h1>
  </div>

  <div class="menu-icon" (click)="toggleMenu()">&#9776;</div>

  <div class="desktop-buttons">
    <button class="rules-button" (click)="redirectToRulesPage()">Rules</button>
    <button class="rules-button" (click)="redirectToLeaderboardPage()">Leaderboard</button>
  </div>

  <img src="{{ activeUser?.imagePath }}" alt="" />

  <div class="mobile-menu" [class.open]="menuOpen">
    <button class="rules-button" (click)="redirectToRulesPage()">Rules</button>
    <button class="rules-button" (click)="redirectToLeaderboardPage()">Leaderboard</button>
  </div>
</nav>
