<form [formGroup]="ruleForm" (ngSubmit)="onSubmit()">
  <h2>Add a Rule</h2>
  <div class="form-line poppins-regular">
    <label> Name: </label>

    <input formControlName="name" />
    @if(ruleForm.get('name')?.invalid && ruleForm.get('name')?.touched){
    <div>Name is required.</div>
    }
  </div>

  <div class="form-line">
    <label> Description: </label>

    <input formControlName="description" />
    @if(ruleForm.get('description')?.invalid &&
    ruleForm.get('description')?.touched){
    <div>Enter a valid description.</div>
    }
  </div>
  <div class="joker-container">
    <label>Joker Rule.</label>
    <input type="checkbox" formControlName="isJoker" />
  </div>

  <button class="btn f1-button" type="submit" [disabled]="!ruleForm.valid">
    Add Rule
  </button>
</form>
